In [41]:
import pandas as pd
import numpy as np
import os

In [44]:
df= pd.read_csv("data.csv")
df

   bedding cycle   Unnamed: 1
0          max D  -968.000000
1     residual D   -10.000000
2   proof cycle           NaN
3          max d -1076.000000
4     residual d   -13.000000
5       recovery -1063.000000
6    % recovery      1.208178
7   bedding load          NaN
8           zero   510.000000
9              1   637.000000
10             2   819.000000
11             3   999.000000
12             4  1158.000000
13             5  1478.000000
14    proof load          NaN
15           off   520.000000
16             1   691.000000
17             2   910.000000
18             3  1128.000000
19             4  1350.000000
20             5  1589.000000
21         5mins  1589.000000
22     test load          NaN
23           off   527.000000
24             1   699.000000
25             2   942.000000
26             3  1136.000000
27             4  1368.000000
28             5  1596.000000
29       5 mins   1596.000000
30           off   533.000000